<h2>Todos</h2>

<% @todos.each do |todo| %>
  <li>
    <%= todo.title %><br />
    <%= associate_project(Project.last, todo) %>
    <%= associate_weekly_plan(WeeklyPlan.last, todo) %>
    <%#= associate_daily_plan(DailyPlan.last, todo) %>
    <%= link_to "Add to today", add_to_day_todo_path(todo, date: Date.tomorrow) %>
  </li>
<% end %>
